<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listas de Jugadores</title>
    <!-- Vinculando el archivo CSS -->
    <link rel="stylesheet" th:href="@{/css/listaJugadores.css}">
</head>
<body>

<h1>Listas de Jugadores</h1>

<table>
    <thead>
    <tr>
        <th>Nombre de la Lista</th>
        <th>Jugadores</th>
    </tr>
    </thead>

    <tbody>
    <!-- Iterando sobre la lista de listas de jugadores -->
    <tr th:each="lista : ${listasJugadores}">
        <td th:text="${lista.nombreLista}"></td>
        <td>
            <ul>
                <!-- Iterando sobre los jugadores de la lista -->
                <li th:each="jugador : ${lista.jugadores}" th:text="${jugador.nombre}"></li>
            </ul>
        </td>
        <td>
    </tr>
    </tbody>
</table>

</body>
</html>
