<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listas de Jugadores</title>
    <link rel="stylesheet" th:href="@{/css/lista.css}">
</head>
<body>

<h1>Listas de Jugadores</h1>


<table>
    <thead>
    <tr>
        <th>Nombre de la Lista</th>
        <th>Jugadores</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="lista : ${listaJugadores}">
        <td th:text="${lista.ID_Lista}"></td>
        <td th:text="${lista.nombreLista}"></td>
        <td>
        </td>
        <td>
    </tr>
    </tbody>
</table>

</body>
</html>
